<!-- header template -->

<header>
    <div class="input-wrapper">
        <img src="/images/expand-arrow.png" alt="expand-arrow" width="45px">
        <input type="text" id="todo-input" name="todo" placeholder="Add todo!" data-filter="<%= filter %>">
    </div>
</header>